<div class="deal-welcome">
  <h2 class="text-center">Choose your destination</h2>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img class="img-circle" src="../img/seattle.jpg" />
      <h3 class="text-center">Seattle</h3>
      <a href="/deals?city='seattle'" type="button" class="btn btn-success btn-block">View Deals</a>
    </div>

    <div class="col-md-2">
      <img class="img-circle" src="../img/newyork.jpg" />
      <h3 class="text-center">New York</h3>
      <a href="/deals?city='new york'" type="button" class="btn btn-success btn-block">View Deals</a>
    </div>

    <div class="col-md-2">
      <img class="img-circle" src="../img/sanfrancisco.jpg" />
      <h3 class="text-center">San Francisco</h3>
      <a href="/deals?city='san francisco'" type="button" class="btn btn-success btn-block">View Deals</a>
    </div>

    <div class="col-md-2">
      <img class="img-circle" src="../img/chicago.jpg" />
      <h3 class="text-center">Chicago</h3>
      <a href="/deals?city='chicago'" type="button" class="btn btn-success btn-block">View Deals</a>
    </div>

    <div class="col-md-2">
      <img class="img-circle" src="../img/lasvegas.jpg" />
      <h3 class="text-center">Las Vegas</h3>
      <a href="/deals?city='las vegas'" type="button" class="btn btn-success btn-block">View Deals</a>
    </div>
  </div>
</div>

<div class="row">
  <h3 class="text-center">Or ...</h3>
  <div class="text-center">
    <div class="btn-group">
      <a href="/deals" type="button" class="btn btn-default">View All Deals</a>
      <a type="button" class="btn btn-default" data-toggle="collapse" data-target="#search-deals">Search Deals</a>
    </div>
  </div>
</div>

<div id="search-deals" class="row collapse">
  <div class="col-md-4 col-md-offset-4">
    <form class="form" role="form" action="/deals" method="get">
      <div class="form-group">
        <label for="city">City</label>
        <input name="city" type="text" class="form-control" id="city" placeholder="City">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="rating">Min Star Rating</label>
            <input name="minStarRating"type="text" class="form-control" id="rating" placeholder="0">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="rating">Max Star Rating</label>
            <input name="maxStarRating"type="text" class="form-control" id="rating" placeholder="5">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="rating">Min Total Rate</label>
            <input name="minTotalRate"type="text" class="form-control" id="rating" placeholder="0.00">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="rating">Max Total Rate</label>
            <input name="maxTotalRate"type="text" class="form-control" id="rating" placeholder="5000.00">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Search</button>
    </form>
  </div>
</div>
