<div class="deal-welcome">
  <h2 class="text-center">Find the vacation just for you</h2>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <img class="img-circle" src="../img/seattle.jpg" />
    <h3 class="text-center">Seattle</h3>
    <a href="/deals?city='seattle'" type="button" class="btn btn-success btn-block">View Deals</a>
  </div>

  <div class="col-md-2">
    <img class="img-circle" src="../img/newyork.jpg" />
    <h3 class="text-center">New York</h3>
    <a href="/deals?city='new york'" type="button" class="btn btn-success btn-block">View Deals</a>
  </div>

  <div class="col-md-2">
    <img class="img-circle" src="../img/sanfrancisco.jpg" />
    <h3 class="text-center">San Francisco</h3>
    <a href="/deals?city='san francisco'" type="button" class="btn btn-success btn-block">View Deals</a>
  </div>

  <div class="col-md-2">
    <img class="img-circle" src="../img/chicago.jpg" />
    <h3 class="text-center">Chicago</h3>
    <a href="/deals?city='chicago'" type="button" class="btn btn-success btn-block">View Deals</a>
  </div>

  <div class="col-md-2">
    <img class="img-circle" src="../img/lasvegas.jpg" />
    <h3 class="text-center">Las Vegas</h3>
    <a href="/deals?city='las vegas'" type="button" class="btn btn-success btn-block">View Deals</a>
  </div>
</div>
