body {
  padding-top: 50px;
}

/* fix bootstrap body modal open margin issue*/
body.modal-open,.modal-open .navbar-fixed-top,.modal-open .navbar-fixed-bottom {
  margin-right:0px
}

.deal-welcome {
  padding: 30px 0px;
}

.deal-welcome h2 {
  margin-bottom: 20px;
}

.deals-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.deal-row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.deal-name {
  font-weight: bold;
}

div.deal-stars, div.deal-stars div {
  display: block;
  background: url('../img/stars.png') 0 -16px repeat-x;
  width: 80px;
  height: 16px;
  margin-top: 5px;
}

div.deal-stars div {
  background-position: 0 0;
}

.old-price {
  color: red;
  text-decoration: line-through;
  font-size:;
}
