body {
  padding-top: 50px;
}

/* fix bootstrap body modal open margin issue*/
body.modal-open,.modal-open .navbar-fixed-top,.modal-open .navbar-fixed-bottom {
  margin-right:0px
}

.deals-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.deals-container {}
.deal-row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.deal-name {
  font-weight: bold;
}

.old-price {
  color: red;
  text-decoration: line-through;
  font-size:;
}

.new-price {
  font-size: 16px;
}
